<div class="row wrapper border-bottom white-bg page-heading ng-scope">
    <div class="col-lg-10">
        <h2>Todos</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight ng-scope">
<div class="row">
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-content">
                    <h3>New</h3>
                    <p class="small"><i class="fa fa-hand-o-up"></i> Drag task between list</p>

                    <div class="input-group">
                        <input type="text" ng-model="formData.text" placeholder="Add new task. " class="input input-sm form-control">
                                <span class="input-group-btn">
                                        <button type="button" ng-click="createTodo()" class="btn btn-sm btn-white"> <i class="fa fa-plus"></i> Add task</button>
                                </span>
                    </div>
                    <ul ui-sortable="sortableOptions" class="new-tasks sortable-list connectList agile-list" ng-model="todoList">
                        <li class="warning-element" ng-repeat="task in todos | filter:{status:'new'}" id="{{task._id}}">
                            {{task.text}}
                            <div class="agile-detail">
                                <a href="#" class="pull-right btn btn-xs btn-white">{{task.tagName}}</a>
                                <i class="fa fa-clock-o"></i> {{task.created | date}}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-content">
                    <h3>In Progress</h3>
                    <p class="small"><i class="fa fa-hand-o-up"></i> Drag task between list</p>
                    <ul ui-sortable="sortableOptions" class="inprogress-tasks sortable-list connectList agile-list" ng-model="inProgressList">
                        <li class="info-element" ng-repeat="task in todos | filter:{status:'in-progress'}" id="{{task._id}}">
                            {{task.text}}
                            <div class="agile-detail">
                                <a href="#" class="pull-right btn btn-xs btn-white">{{task.tagName}}</a>
                                <i class="fa fa-clock-o"></i> {{task.created | date}}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-content">
                    <h3>Completed</h3>
                    <p class="small"><i class="fa fa-hand-o-up"></i> Drag task between list</p>
                    <ul ui-sortable="sortableOptions" class="completed-tasks sortable-list connectList agile-list" ng-model="completedList">
                        <li class="success-element" ng-repeat="task in todos | filter:{status:'completed'}" id="{{task._id}}">
                            {{task.text}}
                            <div class="agile-detail">
                                <a href="#" class="pull-right btn btn-xs btn-white">{{task.tagName}}</a>
                                <i class="fa fa-clock-o"></i> {{task.created | date}}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>