<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Getting Started with SimpleOneNode, Getting ready!!</h1>
  </div>
</div>
<div class="container">
  
</div>

<!--<script src="https://www.gstatic.com/firebasejs/3.6.10/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBr0sEJAfB1XUtFemcFOp8WfBaXEPwV434",
    authDomain: "simpleonenode.firebaseapp.com",
    databaseURL: "https://simpleonenode.firebaseio.com",
    storageBucket: "simpleonenode.appspot.com",
    messagingSenderId: "889210340292"
  };
  firebase.initializeApp(config);
  console.log('firebase init success');
</script>-->
</body>
</html>
